<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Pivoting-DataFrames" data-toc-modified-id="Pivoting-DataFrames-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pivoting DataFrames</a></span><ul class="toc-item"><li><span><a href="#Reshaping-by-pivoing" data-toc-modified-id="Reshaping-by-pivoing-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Reshaping by pivoing</a></span></li><li><span><a href="#Pivoting-multiple-columns" data-toc-modified-id="Pivoting-multiple-columns-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Pivoting multiple columns</a></span></li><li><span><a href="#Pivoting-a-single-variable" data-toc-modified-id="Pivoting-a-single-variable-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Pivoting a single variable</a></span></li><li><span><a href="#Pivoting-all-variables" data-toc-modified-id="Pivoting-all-variables-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Pivoting all variables</a></span></li></ul></li><li><span><a href="#Stacking-&amp;-unstacking-DataFrames" data-toc-modified-id="Stacking-&amp;-unstacking-DataFrames-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Stacking &amp; unstacking DataFrames</a></span><ul class="toc-item"><li><span><a href="#Unstacking-a-multi-index" data-toc-modified-id="Unstacking-a-multi-index-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Unstacking a multi-index</a></span></li><li><span><a href="#Stacking-DataFrames" data-toc-modified-id="Stacking-DataFrames-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Stacking DataFrames</a></span></li><li><span><a href="#Stacking-&amp;-unstacking-I" data-toc-modified-id="Stacking-&amp;-unstacking-I-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Stacking &amp; unstacking I</a></span></li></ul></li><li><span><a href="#Melting-DataFrames" data-toc-modified-id="Melting-DataFrames-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Melting DataFrames</a></span><ul class="toc-item"><li><span><a href="#Specifying-id_vars" data-toc-modified-id="Specifying-id_vars-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Specifying id_vars</a></span></li><li><span><a href="#Specifying-value_vars" data-toc-modified-id="Specifying-value_vars-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Specifying value_vars</a></span></li><li><span><a href="#Adding-names-for-readability" data-toc-modified-id="Adding-names-for-readability-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Adding names for readability</a></span></li><li><span><a href="#Going-from-wide-to-long" data-toc-modified-id="Going-from-wide-to-long-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Going from wide to long</a></span></li><li><span><a href="#Obtaining-key-value-pairs-with-melt()" data-toc-modified-id="Obtaining-key-value-pairs-with-melt()-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Obtaining key-value pairs with melt()</a></span></li></ul></li><li><span><a href="#Pivot-tables" data-toc-modified-id="Pivot-tables-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Pivot tables</a></span><ul class="toc-item"><li><span><a href="#Rearranging-by-pivoting" data-toc-modified-id="Rearranging-by-pivoting-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Rearranging by pivoting</a></span></li><li><span><a href="#Other-aggregations" data-toc-modified-id="Other-aggregations-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Other aggregations</a></span></li><li><span><a href="#Setting-up-a-pivot-table" data-toc-modified-id="Setting-up-a-pivot-table-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Setting up a pivot table</a></span></li><li><span><a href="#Using-other-aggregations-in-pivot-tables" data-toc-modified-id="Using-other-aggregations-in-pivot-tables-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Using other aggregations in pivot tables</a></span></li><li><span><a href="#Using-margins-in-pivot-tables" data-toc-modified-id="Using-margins-in-pivot-tables-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Using margins in pivot tables</a></span></li></ul></li></ul></div>

# Pivoting DataFrames

In [2]:
help(pd.pivot)

NameError: name 'pd' is not defined

In [3]:
import pandas as pd 
import numpy as np 

trials = pd.read_csv('trials_01.csv')
trials

   id treatment gender  response
0   1         A      F         5
1   2         A      M         3
2   3         B      F         8
3   4         B      M         9

## Reshaping by pivoing

In [4]:
trials.pivot(index='treatment', 
             columns='gender', 
             values = 'response')

gender     F  M
treatment
A          5  3
B          8  9

## Pivoting multiple columns

In [5]:
trials.pivot(index='treatment', columns='gender')

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

## Pivoting a single variable

In [6]:
users = pd.read_csv('users.csv')
del users['Unnamed: 0']
users

  weekday    city  visitors  signups
0     Sun  Austin       139        7
1     Sun  Dallas       237       12
2     Mon  Austin       326        3
3     Mon  Dallas       456        5

In [7]:
# Pivot the users DataFrame: visitors_pivot
visitors_pivot = users.pivot(columns='city', index='weekday', values='visitors')

# Print the pivoted DataFrame
print(visitors_pivot)

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237

## Pivoting all variables

In [33]:
# Pivot users with signups indexed by weekday and city: signups_pivot
signups_pivot = users.pivot(index='weekday', values='signups', columns='city')
print(signups_pivot)

city     Austin  Dallas
weekday
Mon           3       5
Sun           7      12

In [34]:
# Pivot users pivoted by both signups and visitors: pivot
pivot = users.pivot(index='weekday', columns='city')
print(pivot)

        visitors        signups
city      Austin Dallas  Austin Dallas
weekday
Mon          326    456       3      5
Sun          139    237       7     12

# Stacking & unstacking DataFrames

In [8]:
trials_mpt = trials.set_index(['treatment', 'gender'])
trials_mpt

                  id  response
treatment gender
A         F        1         5
          M        2         3
B         F        3         8
          M        4         9

## Unstacking a multi-index

In [9]:
trials_mpt.unstack(level='gender')

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

In [10]:
trials_mpt.unstack(level=0)

          id    response
treatment  A  B        A  B
gender
F          1  3        5  8
M          2  4        3  9

In [11]:
trials_mpt.unstack(level=1)

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

## Stacking DataFrames

In [12]:
trials_by_gender = trials_mpt.unstack(level='gender')
trials_by_gender

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

In [13]:
trials_by_gender.stack(level='gender')

                  id  response
treatment gender
A         F        1         5
          M        2         3
B         F        3         8
          M        4         9

## Stacking & unstacking I

In [40]:
users2 = users.copy().set_index(['city','weekday']).sort_index()
users2

                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12

In [44]:
# Unstack users by 'weekday': byweekday
byweekday = users2.unstack(level='weekday')
print(byweekday)

        visitors      signups
weekday      Mon  Sun     Mon Sun
city
Austin       326  139       3   7
Dallas       456  237       5  12

In [43]:
# Stack byweekday by 'weekday' and print it
print(byweekday.stack(level='weekday'))

                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12

In [47]:
bycity = users2.unstack(level='city')
bycity

        visitors        signups
city      Austin Dallas  Austin Dallas
weekday
Mon          326    456       3      5
Sun          139    237       7     12

In [48]:
bycity.stack(level='city')

                visitors  signups
weekday city
Mon     Austin       326        3
        Dallas       456        5
Sun     Austin       139        7
        Dallas       237       12

In [53]:
newusers = bycity.stack(level='city').swaplevel(0,1).sort_index()
newusers

                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12

In [55]:
# Verify that the new DataFrame is equal to the original
newusers.equals(users2)

True

# Melting DataFrames

In [14]:
help(pd.melt)

Help on function melt in module pandas.core.reshape.melt:

melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None)
    Unpivot a DataFrame from wide format to long format, optionally
    leaving identifier variables set.

    This function is useful to massage a DataFrame into a format where one
    or more columns are identifier variables (`id_vars`), while all other
    columns, considered measured variables (`value_vars`), are "unpivoted" to
    the row axis, leaving just two non-identifier columns, 'variable' and
    'value'.

    Parameters
    ----------
    frame : DataFrame
    id_vars : tuple, list, or ndarray, optional
        Column(s) to use as identifier variables.
    value_vars : tuple, list, or ndarray, optional
        Column(s) to unpivot. If not specified, uses all columns that
        are not set as `id_vars`.
    var_name : scalar
        Name to use for the 'variable' column. If None it uses
        ``frame.columns.name`` or 'variable'.
    value_name : scalar, default 'value'
        Name to use for the 'value' column.
    col_level : int or string, optional
        If columns are a MultiIndex then use this level to melt.

    Returns
    -------
    DataFrame
        Unpivoted DataFrame.

    See Also
    --------
    DataFrame.melt
    pivot_table
    DataFrame.pivot
    Series.explode

    Examples
    --------
    >>> df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
    ...                    'B': {0: 1, 1: 3, 2: 5},
    ...                    'C': {0: 2, 1: 4, 2: 6}})
    >>> df
       A  B  C
    0  a  1  2
    1  b  3  4
    2  c  5  6

    >>> pd.melt(df, id_vars=['A'], value_vars=['B'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5

    >>> pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5
    3  a        C      2
    4  b        C      4
    5  c        C      6

    The names of 'variable' and 'value' columns can be customized:

    >>> pd.melt(df, id_vars=['A'], value_vars=['B'],
    ...         var_name='myVarname', value_name='myValname')
       A myVarname  myValname
    0  a         B          1
    1  b         B          3
    2  c         B          5

    If you have multi-index columns:

    >>> df.columns = [list('ABC'), list('DEF')]
    >>> df
       A  B  C
       D  E  F
    0  a  1  2
    1  b  3  4
    2  c  5  6

    >>> pd.melt(df, col_level=0, id_vars=['A'], value_vars=['B'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5

    >>> pd.melt(df, id_vars=[('A', 'D')], value_vars=[('B', 'E')])
      (A, D) variable_0 variable_1  value
    0      a          B          E      1
    1      b          B          E      3
    2      c          B          E      5

In [15]:
new_trials = pd.read_csv('trials_02.csv')
new_trials

  treatment  F  M
0         A  5  3
1         B  8  9

In [16]:
pd.melt(new_trials)

    variable value
0  treatment     A
1  treatment     B
2          F     5
3          F     8
4          M     3
5          M     9

## Specifying id_vars

In [17]:
pd.melt(new_trials, id_vars='treatment')

  treatment variable  value
0         A        F      5
1         B        F      8
2         A        M      3
3         B        M      9

In [18]:
pd.melt(new_trials, id_vars=['F', 'M'])

   F  M   variable value
0  5  3  treatment     A
1  8  9  treatment     B

## Specifying value_vars

In [19]:
pd.melt(new_trials, id_vars='treatment', value_vars=['F','M'])

  treatment variable  value
0         A        F      5
1         B        F      8
2         A        M      3
3         B        M      9

In [20]:
pd.melt(new_trials, id_vars='treatment', value_vars=['F', 'M'],
       value_name='response', var_name='sex')

  treatment sex  response
0         A   F         5
1         B   F         8
2         A   M         3
3         B   M         9

## Adding names for readability

The goal of melting is to restore a pivoted DataFrame to its original form, or to change it from a wide shape to a long shape. You can explicitly specify the columns that should remain in the reshaped DataFrame with `id_vars`, and list which columns to convert into values with `value_vars`. As Dhavide demonstrated, if you don't pass a name to the values in `pd.melt()`, you will lose the name of your variable. You can fix this by using the `value_name` keyword argument.

In [58]:
visitors_by_city_weekday = users.pivot(columns='city', index='weekday', values='visitors')

In [59]:
# Reset the index: visitors_by_city_weekday
visitors_by_city_weekday = visitors_by_city_weekday.reset_index()
print(visitors_by_city_weekday)

city weekday  Austin  Dallas
0        Mon     326     456
1        Sun     139     237

In [60]:
# Melt visitors_by_city_weekday: visitors
visitors = pd.melt(visitors_by_city_weekday, id_vars=['weekday'], value_name='visitors')
print(visitors)

  weekday    city  visitors
0     Mon  Austin       326
1     Sun  Austin       139
2     Mon  Dallas       456
3     Sun  Dallas       237

## Going from wide to long

In [61]:
# Melt users: skinny
skinny = pd.melt(users, id_vars=['weekday', 'city'])

# Print skinny
print(skinny)

  weekday    city  variable  value
0     Sun  Austin  visitors    139
1     Sun  Dallas  visitors    237
2     Mon  Austin  visitors    326
3     Mon  Dallas  visitors    456
4     Sun  Austin   signups      7
5     Sun  Dallas   signups     12
6     Mon  Austin   signups      3
7     Mon  Dallas   signups      5

## Obtaining key-value pairs with melt()

In [66]:
users_idx = users2.copy()

# Obtain the key-value pairs: kv_pairs
kv_pairs = users_idx.melt(col_level=0)

# Print the key-value pairs
print(kv_pairs)

   variable  value
0  visitors    326
1  visitors    139
2  visitors    456
3  visitors    237
4   signups      3
5   signups      7
6   signups      5
7   signups     12

# Pivot tables

In [21]:
help(pd.pivot_table)

Help on function pivot_table in module pandas.core.reshape.pivot:

pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)
    Create a spreadsheet-style pivot table as a DataFrame. The levels in
    the pivot table will be stored in MultiIndex objects (hierarchical
    indexes) on the index and columns of the result DataFrame.

    Parameters
    ----------
    data : DataFrame
    values : column to aggregate, optional
    index : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table index.  If an array is passed,
        it is being used as the same manner as column values.
    columns : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table column.  If an array is passed,
        it is being used as the same manner as column values.
    aggfunc : function, list of functions, dict, default numpy.mean
        If list of functions passed, the resulting pivot table will have
        hierarchical columns whose top level are the function names
        (inferred from the function objects themselves)
        If dict is passed, the key is column to aggregate and value
        is function or list of functions
    fill_value : scalar, default None
        Value to replace missing values with
    margins : boolean, default False
        Add all row / columns (e.g. for subtotal / grand totals)
    dropna : boolean, default True
        Do not include columns whose entries are all NaN
    margins_name : string, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.
    observed : boolean, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. versionchanged :: 0.25.0

    Returns
    -------
    DataFrame

    See Also
    --------
    DataFrame.pivot : Pivot without aggregation that can handle
        non-numeric data.

    Examples
    --------
    >>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
    ...                          "bar", "bar", "bar", "bar"],
    ...                    "B": ["one", "one", "one", "two", "two",
    ...                          "one", "one", "two", "two"],
    ...                    "C": ["small", "large", "large", "small",
    ...                          "small", "large", "small", "small",
    ...                          "large"],
    ...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
    ...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
    >>> df
         A    B      C  D  E
    0  foo  one  small  1  2
    1  foo  one  large  2  4
    2  foo  one  large  2  5
    3  foo  two  small  3  5
    4  foo  two  small  3  6
    5  bar  one  large  4  6
    6  bar  one  small  5  8
    7  bar  two  small  6  9
    8  bar  two  large  7  9

    This first example aggregates values by taking the sum.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum)
    >>> table
    C        large  small
    A   B
    bar one    4.0    5.0
        two    7.0    6.0
    foo one    4.0    1.0
        two    NaN    6.0

    We can also fill missing values using the `fill_value` parameter.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum, fill_value=0)
    >>> table
    C        large  small
    A   B
    bar one      4      5
        two      7      6
    foo one      4      1
        two      0      6

    The next example aggregates by taking the mean across multiple columns.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': np.mean})
    >>> table
                    D         E
    A   C
    bar large  5.500000  7.500000
        small  5.500000  8.500000
    foo large  2.000000  4.500000
        small  2.333333  4.333333

    We can also calculate multiple types of aggregations for any given
    value column.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': [min, max, np.mean]})
    >>> table
                    D    E
                mean  max      mean  min
    A   C
    bar large  5.500000  9.0  7.500000  6.0
        small  5.500000  9.0  8.500000  8.0
    foo large  2.000000  5.0  4.500000  4.0
        small  2.333333  6.0  4.333333  2.0

In [22]:
more_trials = pd.read_csv('trials_03.csv') 
more_trials

   id treatment gender  response
0   1         A      F         5
1   2         A      M         3
2   3         A      M         8
3   4         A      F         9
4   5         B      F         1
5   6         B      M         8
6   7         B      F         4
7   8         B      F         6

In [23]:
pd.pivot(more_trials, columns = 'gender')

         id      treatment      response
gender    F    M         F    M        F    M
0       1.0  NaN         A  NaN      5.0  NaN
1       NaN  2.0       NaN    A      NaN  3.0
2       NaN  3.0       NaN    A      NaN  8.0
3       4.0  NaN         A  NaN      9.0  NaN
4       5.0  NaN         B  NaN      1.0  NaN
5       NaN  6.0       NaN    B      NaN  8.0
6       7.0  NaN         B  NaN      4.0  NaN
7       8.0  NaN         B  NaN      6.0  NaN

In [24]:
pd.pivot(more_trials, columns='gender', values='response')

gender    F    M
0       5.0  NaN
1       NaN  3.0
2       NaN  8.0
3       9.0  NaN
4       1.0  NaN
5       NaN  8.0
6       4.0  NaN
7       6.0  NaN

In [25]:
pd.pivot(more_trials, columns='gender', values=['response', 'treatment'])

       response      treatment
gender        F    M         F    M
0             5  NaN         A  NaN
1           NaN    3       NaN    A
2           NaN    8       NaN    A
3             9  NaN         A  NaN
4             1  NaN         B  NaN
5           NaN    8       NaN    B
6             4  NaN         B  NaN
7             6  NaN         B  NaN

## Rearranging by pivoting

In [26]:
more_trials.pivot(index='treatment', columns='gender', values='response') 
# ValueError: Index contains duplicate entries, cannot reshape

ValueError: Index contains duplicate entries, cannot reshape

In [ ]:
more_trials.pivot_table(index='treatment', 
                        columns='gender', 
                        values='response')

## Other aggregations

In [27]:
more_trials.pivot_table(index='treatment',
                        columns='gender',
                       values='response',
                       aggfunc='count')

gender     F  M
treatment
A          2  2
B          3  1

In [28]:
more_trials.pivot_table(index='treatment',
                        columns='gender',
                       values='response',
                       aggfunc='std')

gender            F         M
treatment
A          2.828427  3.535534
B          2.516611       NaN

In [29]:
more_trials.pivot_table(index='treatment',
                        columns='gender',
                       values='response',
                       aggfunc='max')

gender     F  M
treatment
A          9  8
B          6  8

In [30]:
more_trials.pivot_table(index='treatment',
                        columns='gender',
                       values='response',
                       aggfunc='min')

gender     F  M
treatment
A          5  3
B          1  8

In [31]:
more_trials.pivot_table(index='treatment',
                        columns='gender',
                       values='response',
                       aggfunc='median')

gender       F    M
treatment
A          7.0  5.5
B          4.0  8.0

## Setting up a pivot table

In [72]:
# Create the DataFrame with the appropriate pivot table: by_city_day
by_city_day = users.pivot_table(index='weekday', columns='city')

# Print by_city_day
print(by_city_day)

        signups        visitors
city     Austin Dallas   Austin Dallas
weekday
Mon           3      5      326    456
Sun           7     12      139    237

## Using other aggregations in pivot tables

In [71]:
# Use a pivot table to display the count of each column: count_by_weekday1
count_by_weekday1 = users.pivot_table(index='weekday', aggfunc='count')

# Print count_by_weekday
print(count_by_weekday1)

         city  signups  visitors
weekday
Mon         2        2         2
Sun         2        2         2

In [74]:
# Replace 'aggfunc='count'' with 'aggfunc=len': count_by_weekday2
count_by_weekday2 = users.pivot_table(index='weekday', aggfunc=len)

# Verify that the same result is obtained
print(count_by_weekday1.equals(count_by_weekday2))

True

## Using margins in pivot tables

In [76]:
# Create the DataFrame with the appropriate pivot table: signups_and_visitors
signups_and_visitors = users.pivot_table(index='weekday', aggfunc=sum)

# Print signups_and_visitors
print(signups_and_visitors)

         signups  visitors
weekday
Mon            8       782
Sun           19       376

In [77]:
# Add in the margins: signups_and_visitors_total 
signups_and_visitors_total = users.pivot_table(index='weekday', aggfunc='sum', margins=True)

# Print signups_and_visitors_total
print(signups_and_visitors_total)

         signups  visitors
weekday
Mon            8       782
Sun           19       376
All           27      1158