<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-ingestion-&amp;-inspection" data-toc-modified-id="Data-ingestion-&amp;-inspection-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><strong>Data ingestion &amp; inspection</strong></a></span><ul class="toc-item"><li><span><a href="#DataFrame-data-types" data-toc-modified-id="DataFrame-data-types-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>DataFrame data types</a></span></li><li><span><a href="#NumPy-and-pandas-working-together" data-toc-modified-id="NumPy-and-pandas-working-together-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>NumPy and pandas working together</a></span></li><li><span><a href="#Zip-lists-to-build-a-DataFrame" data-toc-modified-id="Zip-lists-to-build-a-DataFrame-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Zip lists to build a DataFrame</a></span></li><li><span><a href="#Labeling-your-data" data-toc-modified-id="Labeling-your-data-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Labeling your data</a></span></li><li><span><a href="#Building-DataFrames-with-broadcasting" data-toc-modified-id="Building-DataFrames-with-broadcasting-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Building DataFrames with broadcasting</a></span></li><li><span><a href="#Reading-a-flat-file" data-toc-modified-id="Reading-a-flat-file-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Reading a flat file</a></span></li><li><span><a href="#Delimiters,-headers,-and-extensions" data-toc-modified-id="Delimiters,-headers,-and-extensions-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Delimiters, headers, and extensions</a></span></li><li><span><a href="#Plotting-series-using-pandas" data-toc-modified-id="Plotting-series-using-pandas-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Plotting series using pandas</a></span><ul class="toc-item"><li><span><a href="#Saving-plots" data-toc-modified-id="Saving-plots-1.8.1"><span class="toc-item-num">1.8.1&nbsp;&nbsp;</span>Saving plots</a></span></li></ul></li><li><span><a href="#Plotting-DataFrames" data-toc-modified-id="Plotting-DataFrames-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Plotting DataFrames</a></span></li></ul></li><li><span><a href="#Exploratory-data-analysis" data-toc-modified-id="Exploratory-data-analysis-2"><span class="toc-item-num">2&nbsp;&nbsp;</span><strong>Exploratory data analysis</strong></a></span><ul class="toc-item"><li><span><a href="#Visual-exploratory-data-analysis" data-toc-modified-id="Visual-exploratory-data-analysis-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Visual exploratory data analysis</a></span><ul class="toc-item"><li><span><a href="#Scatter-plot" data-toc-modified-id="Scatter-plot-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Scatter plot</a></span></li><li><span><a href="#Box-plot" data-toc-modified-id="Box-plot-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Box plot</a></span></li><li><span><a href="#Histogram" data-toc-modified-id="Histogram-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Histogram</a></span></li><li><span><a href="#Cumulative-distribution-function-(CDF)" data-toc-modified-id="Cumulative-distribution-function-(CDF)-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>Cumulative distribution function (CDF)</a></span></li></ul></li><li><span><a href="#pandas-scatter-plots" data-toc-modified-id="pandas-scatter-plots-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>pandas scatter plots</a></span><ul class="toc-item"><li><span><a href="#Normalizing-data" data-toc-modified-id="Normalizing-data-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Normalizing data</a></span></li><li><span><a href="#Plotting-a-scatter" data-toc-modified-id="Plotting-a-scatter-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Plotting a scatter</a></span></li></ul></li><li><span><a href="#pandas-box-plots" data-toc-modified-id="pandas-box-plots-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>pandas box plots</a></span></li><li><span><a href="#pandas-hist,-pdf-and-cdf" data-toc-modified-id="pandas-hist,-pdf-and-cdf-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>pandas hist, pdf and cdf</a></span></li><li><span><a href="#Statistical-exploratory-data-analysis" data-toc-modified-id="Statistical-exploratory-data-analysis-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Statistical exploratory data analysis</a></span><ul class="toc-item"><li><span><a href="#Counts" data-toc-modified-id="Counts-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Counts</a></span></li><li><span><a href="#Averages" data-toc-modified-id="Averages-2.5.2"><span class="toc-item-num">2.5.2&nbsp;&nbsp;</span>Averages</a></span></li><li><span><a href="#Standart-deviations" data-toc-modified-id="Standart-deviations-2.5.3"><span class="toc-item-num">2.5.3&nbsp;&nbsp;</span>Standart deviations</a></span></li><li><span><a href="#Medians" data-toc-modified-id="Medians-2.5.4"><span class="toc-item-num">2.5.4&nbsp;&nbsp;</span>Medians</a></span></li><li><span><a href="#Medians-&amp;-0.5-quantiles" data-toc-modified-id="Medians-&amp;-0.5-quantiles-2.5.5"><span class="toc-item-num">2.5.5&nbsp;&nbsp;</span>Medians &amp; 0.5 quantiles</a></span></li><li><span><a href="#Inter-quartile-range-(IQR)" data-toc-modified-id="Inter-quartile-range-(IQR)-2.5.6"><span class="toc-item-num">2.5.6&nbsp;&nbsp;</span>Inter-quartile range (IQR)</a></span></li><li><span><a href="#Ranges" data-toc-modified-id="Ranges-2.5.7"><span class="toc-item-num">2.5.7&nbsp;&nbsp;</span>Ranges</a></span></li><li><span><a href="#Box-plots" data-toc-modified-id="Box-plots-2.5.8"><span class="toc-item-num">2.5.8&nbsp;&nbsp;</span>Box plots</a></span></li></ul></li><li><span><a href="#Bachelor's-degrees-awarded-to-women" data-toc-modified-id="Bachelor's-degrees-awarded-to-women-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Bachelor's degrees awarded to women</a></span><ul class="toc-item"><li><span><a href="#Mean-across-all-columns-per-row" data-toc-modified-id="Mean-across-all-columns-per-row-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>Mean across all columns per row</a></span></li></ul></li><li><span><a href="#Median-vs-mean" data-toc-modified-id="Median-vs-mean-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Median vs mean</a></span></li><li><span><a href="#Quantiles" data-toc-modified-id="Quantiles-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>Quantiles</a></span></li><li><span><a href="#Standard-deviation-of-life-expectancy" data-toc-modified-id="Standard-deviation-of-life-expectancy-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>Standard deviation of life expectancy</a></span></li><li><span><a href="#Separating-populations" data-toc-modified-id="Separating-populations-2.10"><span class="toc-item-num">2.10&nbsp;&nbsp;</span>Separating populations</a></span><ul class="toc-item"><li><span><a href="#Describe-species-column" data-toc-modified-id="Describe-species-column-2.10.1"><span class="toc-item-num">2.10.1&nbsp;&nbsp;</span>Describe species column</a></span></li><li><span><a href="#Unique-&amp;-factors" data-toc-modified-id="Unique-&amp;-factors-2.10.2"><span class="toc-item-num">2.10.2&nbsp;&nbsp;</span>Unique &amp; factors</a></span></li><li><span><a href="#Filtering-by-species" data-toc-modified-id="Filtering-by-species-2.10.3"><span class="toc-item-num">2.10.3&nbsp;&nbsp;</span>Filtering by species</a></span></li><li><span><a href="#Checking-species" data-toc-modified-id="Checking-species-2.10.4"><span class="toc-item-num">2.10.4&nbsp;&nbsp;</span>Checking species</a></span></li><li><span><a href="#Visual-EDA" data-toc-modified-id="Visual-EDA-2.10.5"><span class="toc-item-num">2.10.5&nbsp;&nbsp;</span>Visual EDA</a></span></li><li><span><a href="#Statistical-EDA:-describe()" data-toc-modified-id="Statistical-EDA:-describe()-2.10.6"><span class="toc-item-num">2.10.6&nbsp;&nbsp;</span>Statistical EDA: describe()</a></span></li><li><span><a href="#Computing-errors" data-toc-modified-id="Computing-errors-2.10.7"><span class="toc-item-num">2.10.7&nbsp;&nbsp;</span>Computing errors</a></span></li></ul></li></ul></li><li><span><a href="#Time-series-in-pandas" data-toc-modified-id="Time-series-in-pandas-3"><span class="toc-item-num">3&nbsp;&nbsp;</span><strong>Time series in pandas</strong></a></span><ul class="toc-item"><li><span><a href="#Product-sales-CSV" data-toc-modified-id="Product-sales-CSV-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Product sales CSV</a></span><ul class="toc-item"><li><span><a href="#Selecting-single-datetime" data-toc-modified-id="Selecting-single-datetime-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Selecting single datetime</a></span></li><li><span><a href="#Partial-datetime-string-selection" data-toc-modified-id="Partial-datetime-string-selection-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Partial datetime string selection</a></span></li><li><span><a href="#Convert-strings-to-datetime" data-toc-modified-id="Convert-strings-to-datetime-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>Convert strings to datetime</a></span></li><li><span><a href="#Reindexing-DataFrame" data-toc-modified-id="Reindexing-DataFrame-3.1.4"><span class="toc-item-num">3.1.4&nbsp;&nbsp;</span>Reindexing DataFrame</a></span></li><li><span><a href="#Filling-missing-values" data-toc-modified-id="Filling-missing-values-3.1.5"><span class="toc-item-num">3.1.5&nbsp;&nbsp;</span>Filling missing values</a></span></li></ul></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Exercise</a></span><ul class="toc-item"><li><span><a href="#Reading-and-slicing-times" data-toc-modified-id="Reading-and-slicing-times-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Reading and slicing times</a></span></li></ul></li><li><span><a href="#Resampling-time-series-data" data-toc-modified-id="Resampling-time-series-data-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Resampling time series data</a></span><ul class="toc-item"><li><span><a href="#Resampling" data-toc-modified-id="Resampling-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Resampling</a></span></li><li><span><a href="#Aggregating-means" data-toc-modified-id="Aggregating-means-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>Aggregating means</a></span></li><li><span><a href="#Verifying" data-toc-modified-id="Verifying-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>Verifying</a></span></li><li><span><a href="#Method-chaining" data-toc-modified-id="Method-chaining-3.3.4"><span class="toc-item-num">3.3.4&nbsp;&nbsp;</span>Method chaining</a></span></li><li><span><a href="#Resampling-strings" data-toc-modified-id="Resampling-strings-3.3.5"><span class="toc-item-num">3.3.5&nbsp;&nbsp;</span>Resampling strings</a></span></li><li><span><a href="#Resampling-frequencies" data-toc-modified-id="Resampling-frequencies-3.3.6"><span class="toc-item-num">3.3.6&nbsp;&nbsp;</span>Resampling frequencies</a></span></li><li><span><a href="#Multiplying-frequencies" data-toc-modified-id="Multiplying-frequencies-3.3.7"><span class="toc-item-num">3.3.7&nbsp;&nbsp;</span>Multiplying frequencies</a></span></li><li><span><a href="#Upsampling" data-toc-modified-id="Upsampling-3.3.8"><span class="toc-item-num">3.3.8&nbsp;&nbsp;</span>Upsampling</a></span></li><li><span><a href="#Upsampling-and-filling" data-toc-modified-id="Upsampling-and-filling-3.3.9"><span class="toc-item-num">3.3.9&nbsp;&nbsp;</span>Upsampling and filling</a></span></li></ul></li><li><span><a href="#Manipulating-time-series-data" data-toc-modified-id="Manipulating-time-series-data-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Manipulating time series data</a></span><ul class="toc-item"><li><span><a href="#Sales-data" data-toc-modified-id="Sales-data-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>Sales data</a></span></li><li><span><a href="#String-methods" data-toc-modified-id="String-methods-3.4.2"><span class="toc-item-num">3.4.2&nbsp;&nbsp;</span>String methods</a></span><ul class="toc-item"><li><span><a href="#Capitalize" data-toc-modified-id="Capitalize-3.4.2.1"><span class="toc-item-num">3.4.2.1&nbsp;&nbsp;</span>Capitalize</a></span></li><li><span><a href="#Lowercase" data-toc-modified-id="Lowercase-3.4.2.2"><span class="toc-item-num">3.4.2.2&nbsp;&nbsp;</span>Lowercase</a></span></li><li><span><a href="#Find-a-pattern" data-toc-modified-id="Find-a-pattern-3.4.2.3"><span class="toc-item-num">3.4.2.3&nbsp;&nbsp;</span>Find a pattern</a></span></li><li><span><a href="#Substring-matching" data-toc-modified-id="Substring-matching-3.4.2.4"><span class="toc-item-num">3.4.2.4&nbsp;&nbsp;</span>Substring matching</a></span></li></ul></li><li><span><a href="#Boolean-arithmetic" data-toc-modified-id="Boolean-arithmetic-3.4.3"><span class="toc-item-num">3.4.3&nbsp;&nbsp;</span>Boolean arithmetic</a></span></li><li><span><a href="#Datetimelike-properties" data-toc-modified-id="Datetimelike-properties-3.4.4"><span class="toc-item-num">3.4.4&nbsp;&nbsp;</span>Datetimelike properties</a></span><ul class="toc-item"><li><span><a href="#Choose-a-certain-time" data-toc-modified-id="Choose-a-certain-time-3.4.4.1"><span class="toc-item-num">3.4.4.1&nbsp;&nbsp;</span>Choose a certain time</a></span></li><li><span><a href="#Set-timezone" data-toc-modified-id="Set-timezone-3.4.4.2"><span class="toc-item-num">3.4.4.2&nbsp;&nbsp;</span>Set timezone</a></span></li><li><span><a href="#Convert-timezone" data-toc-modified-id="Convert-timezone-3.4.4.3"><span class="toc-item-num">3.4.4.3&nbsp;&nbsp;</span>Convert timezone</a></span></li><li><span><a href="#Method-chaining" data-toc-modified-id="Method-chaining-3.4.4.4"><span class="toc-item-num">3.4.4.4&nbsp;&nbsp;</span>Method chaining</a></span></li></ul></li><li><span><a href="#World-population" data-toc-modified-id="World-population-3.4.5"><span class="toc-item-num">3.4.5&nbsp;&nbsp;</span>World population</a></span><ul class="toc-item"><li><span><a href="#Upsample-population" data-toc-modified-id="Upsample-population-3.4.5.1"><span class="toc-item-num">3.4.5.1&nbsp;&nbsp;</span>Upsample population</a></span></li><li><span><a href="#Interpolate-missing-data" data-toc-modified-id="Interpolate-missing-data-3.4.5.2"><span class="toc-item-num">3.4.5.2&nbsp;&nbsp;</span>Interpolate missing data</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Case-Study---Sunlight-in-Austin" data-toc-modified-id="Case-Study---Sunlight-in-Austin-4"><span class="toc-item-num">4&nbsp;&nbsp;</span><strong>Case Study - Sunlight in Austin</strong></a></span></li></ul></div>

# __Data ingestion & inspection__

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import glob

In [2]:
pattern = '*.csv'
match = glob.glob(pattern)
match

['aapl.csv',
 'austin_airport_departure_data_2015_july.csv',
 'auto-mpg.csv',
 'EISN_current.csv',
 'iris.csv',
 'life_expectancy_at_birth.csv',
 'mpg.csv',
 'percent-bachelors-degrees-women-usa.csv',
 'sales-feb-2015.csv',
 'sales-jan-2015.csv',
 'sales-mar-2015.csv',
 'sunspots.csv',
 'tips.csv',
 'titanic.csv',
 'total_sunspot_numbers.csv',
 'weather_data_austin_2010.csv',
 'world_ind_pop_data.csv',
 'world_population.csv']

In [3]:
df = pd.read_csv(match[-2])
df.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

In [4]:
df.tail()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
13369,Virgin Islands (U.S.),VIR,2014,104170.0,95.203
13370,West Bank and Gaza,WBG,2014,4294682.0,75.026
13371,"Yemen, Rep.",YEM,2014,26183676.0,34.027
13372,Zambia,ZMB,2014,15721343.0,40.472
13373,Zimbabwe,ZWE,2014,15245855.0,32.501

In [5]:
df.shape

(13374, 5)

In [6]:
df.columns

Index(['CountryName', 'CountryCode', 'Year', 'Total Population',
       'Urban population (% of total)'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13374 entries, 0 to 13373
Data columns (total 5 columns):
CountryName                      13374 non-null object
CountryCode                      13374 non-null object
Year                             13374 non-null int64
Total Population                 13374 non-null float64
Urban population (% of total)    13374 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 522.5+ KB

In [8]:
df.describe()

               Year  Total Population  Urban population (% of total)
count  13374.000000      1.337400e+04                   13374.000000
mean    1987.078884      1.436528e+08                      48.878101
std       15.884693      5.529452e+08                      24.794697
min     1960.000000      5.563000e+03                       2.077000
25%     1973.000000      8.542475e+05                      28.348500
50%     1987.000000      5.578022e+06                      47.467000
75%     2001.000000      2.810208e+07                      68.676250
max     2014.000000      7.260711e+09                     100.000000

## DataFrame data types

ðŸ“Œ Pandas is aware of the data types in the columns of your DataFrame. It is also aware of null and NaN ('Not-a-Number') types which often indicate missing data. In this exercise, we have imported pandas as pd and read the world population data into a DataFrame df which contains some NaN values â€” a value often used as a place-holder for missing or otherwise invalid data entries.

Your job is to use df.info() to determine information about the total count of non-null entries and infer the total count of null entries, which likely indicates missing data.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13374 entries, 0 to 13373
Data columns (total 5 columns):
CountryName                      13374 non-null object
CountryCode                      13374 non-null object
Year                             13374 non-null int64
Total Population                 13374 non-null float64
Urban population (% of total)    13374 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 522.5+ KB

## NumPy and pandas working together

ðŸ“Œ _It's possible to use the DataFrame attribute .values to represent a DataFrame df as a NumPy array. You can also pass pandas data structures to NumPy methods_

_You can also pass pandas data structures to NumPy methods. In this exercise, we have imported pandas as pd and loaded world population data every 10 years since 1960 into the DataFrame df. ._

_Your job is to extract the values and store them in an array using the attribute .values. You'll then use those values as input into the NumPy np.log10() method to compute the base 10 logarithm of the population values. Finally, you will pass the entire pandas DataFrame into the same NumPy np.log10() method and compare the results._

In [10]:
np_vals = df['Total Population'].values
np_vals

array([92495902.,  4190810., 91401583., ..., 26183676., 15721343.,
       15245855.])

In [11]:
np_vals_log10 = np.log10(np_vals)
np_vals_log10

array([7.96612249, 6.62229797, 7.96095372, ..., 7.41803062, 7.19648964,
       7.18315178])

In [12]:
[print (x, 'has type', type(eval(x))) for x in ['np_vals', 'np_vals_log10']]
#how works eval(x)?

np_vals has type <class 'numpy.ndarray'>
np_vals_log10 has type <class 'numpy.ndarray'>

[None, None]

## Zip lists to build a DataFrame

In [13]:
list_keys =  ['Country', 'Total']
list_values = [['United States', 'Soviet Union', 'United Kingdom'], [1118, 473, 273]]
zipped = list(zip(list_keys, list_values))
zipped

[('Country', ['United States', 'Soviet Union', 'United Kingdom']),
 ('Total', [1118, 473, 273])]

In [14]:
# Build a dictionary with the zipped list: data
data = dict(zipped)
data

{'Country': ['United States', 'Soviet Union', 'United Kingdom'],
 'Total': [1118, 473, 273]}

In [15]:
# Build and inspect a DataFrame from the dictionary: df
df_data = pd.DataFrame(data)
df_data

          Country  Total
0   United States   1118
1    Soviet Union    473
2  United Kingdom    273

In [16]:
# Broadcasting data to entire column
df_data['Type'] = 'country'
df_data

          Country  Total     Type
0   United States   1118  country
1    Soviet Union    473  country
2  United Kingdom    273  country

In [17]:
# Index and columns 
df_data.index = ['US', 'USSR', 'UK']
df_data.columns = ['Countries', 'Total win', 'Kind'] 
df_data

           Countries  Total win     Kind
US     United States       1118  country
USSR    Soviet Union        473  country
UK    United Kingdom        273  country

## Labeling your data

In [18]:
chart = {'a': ['1980', 'Blondie', 'Call Me', '6'],
         'b': ['1981', 'Christopher Cross', "Arthur's Theme", '3'],
         'c': ['1982', 'Joan Jett', 'I Love Rock and Roll', '7']}
df_chart = pd.DataFrame(chart)
df_chart

         a                  b                     c
0     1980               1981                  1982
1  Blondie  Christopher Cross             Joan Jett
2  Call Me     Arthur's Theme  I Love Rock and Roll
3        6                  3                     7

In [19]:
x = ['1980', 'Blondie', 'Call Me', '6']
y = ['1981', 'Christopher Cross', "Arthur's Theme", '3']
z = ['1982', 'Joan Jett', 'I Love Rock and Roll', '7']
keys = ['a','b','c','d']
values = [x, y, z]
zipping = list(zip(keys, values))
zipping

[('a', ['1980', 'Blondie', 'Call Me', '6']),
 ('b', ['1981', 'Christopher Cross', "Arthur's Theme", '3']),
 ('c', ['1982', 'Joan Jett', 'I Love Rock and Roll', '7'])]

In [20]:
chart_dict = dict(zipping)
chart_dict

{'a': ['1980', 'Blondie', 'Call Me', '6'],
 'b': ['1981', 'Christopher Cross', "Arthur's Theme", '3'],
 'c': ['1982', 'Joan Jett', 'I Love Rock and Roll', '7']}

In [21]:
# pandas.DataFrame.from_dict

chart_df = pd.DataFrame.from_dict(chart_dict, orient = 'index')
chart_df

      0                  1                     2  3
a  1980            Blondie               Call Me  6
b  1981  Christopher Cross        Arthur's Theme  3
c  1982          Joan Jett  I Love Rock and Roll  7

In [22]:
list_labels = ['year', 'artist', 'song', 'chart weeks']
chart_df.columns = list_labels
chart_df

   year             artist                  song chart weeks
a  1980            Blondie               Call Me           6
b  1981  Christopher Cross        Arthur's Theme           3
c  1982          Joan Jett  I Love Rock and Roll           7

## Building DataFrames with broadcasting

In [23]:
cities = ['Manheim', 'Preston park', 'Biglerville', 'Indiana', 'Curwensville', 'Crown', 'Harveys lake', 'Mineral springs', 'Cassville', 'Hannastown', 'Saltsburg',
 'Tunkhannock', 'Pittsburgh', 'Lemasters', 'Great bend']

cities

['Manheim',
 'Preston park',
 'Biglerville',
 'Indiana',
 'Curwensville',
 'Crown',
 'Harveys lake',
 'Mineral springs',
 'Cassville',
 'Hannastown',
 'Saltsburg',
 'Tunkhannock',
 'Pittsburgh',
 'Lemasters',
 'Great bend']

In [24]:
state = 'PA'
data = {'state':state, 'city':cities}
df_city = pd.DataFrame(data)
df_city.head()

  state          city
0    PA       Manheim
1    PA  Preston park
2    PA   Biglerville
3    PA       Indiana
4    PA  Curwensville

## Reading a flat file

In [25]:
# Explicitly pass header=0 to be able to replace existing names

new_labels = ['year', 'population']

df_pop = pd.read_csv(match[-1])
df_pop2 = pd.read_csv(match[-1], header = 0, names = new_labels)
print(df_pop)
print()
print(df_pop2)

   Year  Total Population
0  1960      3.034971e+09
1  1970      3.684823e+09
2  1980      4.436590e+09
3  1990      5.282716e+09
4  2000      6.115974e+09
5  2010      6.924283e+09

   year    population
0  1960  3.034971e+09
1  1970  3.684823e+09
2  1980  4.436590e+09
3  1990  5.282716e+09
4  2000  6.115974e+09
5  2010  6.924283e+09

In [26]:
filepath = 'total_sunspot_numbers.csv'
sunspots = pd.read_csv(filepath, delimiter = ';')
sunspots.head()

   1818  01  01.1  1818.001    -1   -1.0     0  1
0  1818   1     2  1818.004    -1   -1.0     0  1
1  1818   1     3  1818.007    -1   -1.0     0  1
2  1818   1     4  1818.010    -1   -1.0     0  1
3  1818   1     5  1818.012    -1   -1.0     0  1
4  1818   1     6  1818.015    -1   -1.0     0  1

In [27]:
col_names = ['year', 'month', 'day', 'dec_date', 'sunspots', 'deviation' 'observation', 'definite', 'provisional']
sunspots_input = pd.read_csv(filepath, 
delimiter = ';', 
header = None, 
names = col_names, 
na_values = {'sunspots':['  -1']}, #deleting nan only in certain colums
parse_dates = [[0,1,2]]) 
sunspots_input.head()

,year_month_day,dec_date,sunspots,deviationobservation,definite,provisional
0,1818-01-01,1818.001,NaN,-1.0,0,1
1,1818-01-02,1818.004,NaN,-1.0,0,1
2,1818-01-03,1818.007,NaN,-1.0,0,1
3,1818-01-04,1818.010,NaN,-1.0,0,1
4,1818-01-05,1818.012,NaN,-1.0,0,1

In [28]:
sunspots_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73810 entries, 0 to 73809
Data columns (total 6 columns):
year_month_day          73810 non-null datetime64[ns]
dec_date                73810 non-null float64
sunspots                70563 non-null float64
deviationobservation    73810 non-null float64
definite                73810 non-null int64
provisional             73810 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(2)
memory usage: 3.4 MB

In [29]:
sunspots_input.index = sunspots_input['year_month_day']
sunspots_input.index.name = 'date'
sunspots_input.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 73810 entries, 1818-01-01 to 2020-01-31
Data columns (total 6 columns):
year_month_day          73810 non-null datetime64[ns]
dec_date                73810 non-null float64
sunspots                70563 non-null float64
deviationobservation    73810 non-null float64
definite                73810 non-null int64
provisional             73810 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(2)
memory usage: 3.9 MB

In [30]:
sun_cols = ['sunspots', 'definite']
sunspots_def = sunspots_input[sun_cols].tail()
sunspots_def

            sunspots  definite
date
2020-01-27      14.0        15
2020-01-28      12.0        16
2020-01-29      12.0        33
2020-01-30      12.0        18
2020-01-31      12.0        22

In [31]:
#Writing files
out_csv = 'sunspots.csv'
sunspots_def.to_csv(out_csv)

out_tsv = 'sunspots.tsv'
sunspots_def.to_csv(out_tsv, sep = '\t')

out_xlsx = 'sunspots.xlsx'
sunspots_def.to_excel(out_xlsx)In addition,

SyntaxError: invalid syntax (<ipython-input-31-e86e4ca55269>, line 9)

## Delimiters, headers, and extensions

# Read the raw file as-is: df1
df1 = pd.read_csv(file_messy)

# Print the output of df1.head()
print(df1.head())

# Read in the file with the correct parameters: df2
df2 = pd.read_csv(file_messy, delimiter=' ', header=3, comment='#')

# Print the output of df2.head()
print(df2.head())

# Save the cleaned up DataFrame to a CSV file without the index
df2.to_csv(file_clean, index=False)

# Save the cleaned up DataFrame to an excel file without the index
df2.to_excel('file_clean.xlsx', index=False)

## Plotting series using pandas

In [ ]:
aapl = pd.read_csv('aapl.csv', index_col = 'Date', parse_dates = True)
aapl.shape

In [ ]:
aapl.head()

In [ ]:
aapl.info()

In [ ]:
close_arr = aapl['Close'].values
type(close_arr)

In [ ]:
#Plotting arrays (matplotlib)
plt.plot(close_arr)
plt.show()

In [ ]:
#Plotting Series (matplotlib)
close_series = aapl['Close']
type(close_series)

In [ ]:
plt.plot(close_series)
plt.show()

In [ ]:
#Plotting Series directly
close_series.plot()
plt.show()

In [ ]:
#Plotting DataFrames (pandas)
aapl.plot() #plot all series at once
plt.show()

In [ ]:
#plots all columns at once (matplotlib)
plt.plot(aapl)

In [ ]:
aapl.plot()
plt.yscale('log')
plt.show()

In [ ]:
aapl['Open'].plot(color = 'b', style='.-', legend=True)
aapl['Close'].plot(color='r', style='.', legend = True)
plt.axis(('2018','2020', 150, 300))
plt.xlabel('Years')
plt.ylabel('Price')
plt.title('Apple')
plt.show()

### Saving plots

In [ ]:
aapl['Open'].plot(color = 'b', style='.-', legend=True)
aapl['Close'].plot(color='r', style='.', legend = True)
plt.axis(('2018','2020', 150, 300))
plt.savefig('aapl.png')
plt.savefig('aapl.jpg')
plt.savefig('aapl.pdf')
plt.show()

In [ ]:
df_pop2.population.plot(figsize = [8,6], x = 'year', title = 'World population', grid = True, legend = True, logy = True, fontsize = 13)
plt.xlabel('population')
plt.xlabel('years')
plt.show()

## Plotting DataFrames

In [ ]:
weather = pd.read_csv(match[-3])
weather.head()

In [ ]:
weather.info()

In [ ]:
weather.columns

In [ ]:
weather.Temperature.plot()
plt.show()

In [ ]:
column_list = ['Temperature', 'DewPoint']
weather[column_list].plot(subplots = False)

In [ ]:
weather[column_list].plot(subplots = True)

In [ ]:
weather.plot(subplots=True)

# __Exploratory data analysis__

__Ð Ð°Ð·Ð²ÐµÐ´Ð¾Ñ‡Ð½Ñ‹Ð¹ Ð°Ð½Ð°Ð»Ð¸Ð· Ð´Ð°Ð½Ð½Ñ‹Ñ…__ (_exploratory data analysis_ (EDA)) â€” Ð°Ð½Ð°Ð»Ð¸Ð· Ð¾ÑÐ½Ð¾Ð²Ð½Ñ‹Ñ… ÑÐ²Ð¾Ð¹ÑÑ‚Ð² Ð´Ð°Ð½Ð½Ñ‹Ñ…, Ð½Ð°Ñ…Ð¾Ð¶Ð´ÐµÐ½Ð¸Ðµ Ð² Ð½Ð¸Ñ… Ð¾Ð±Ñ‰Ð¸Ñ… Ð·Ð°ÐºÐ¾Ð½Ð¾Ð¼ÐµÑ€Ð½Ð¾ÑÑ‚ÐµÐ¹, Ñ€Ð°ÑÐ¿Ñ€ÐµÐ´ÐµÐ»ÐµÐ½Ð¸Ð¹ Ð¸ Ð°Ð½Ð¾Ð¼Ð°Ð»Ð¸Ð¹, Ð¿Ð¾ÑÑ‚Ñ€Ð¾ÐµÐ½Ð¸Ðµ Ð½Ð°Ñ‡Ð°Ð»ÑŒÐ½Ñ‹Ñ… Ð¼Ð¾Ð´ÐµÐ»ÐµÐ¹, Ð·Ð°Ñ‡Ð°ÑÑ‚ÑƒÑŽ Ñ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸ÐµÐ¼ Ð¸Ð½ÑÑ‚Ñ€ÑƒÐ¼ÐµÐ½Ñ‚Ð¾Ð² Ð²Ð¸Ð·ÑƒÐ°Ð»Ð¸Ð·Ð°Ñ†Ð¸Ð¸.

## Visual exploratory data analysis

In [ ]:
iris_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
iris = pd.read_csv('iris.csv', header = None, names = iris_names)
display(iris.shape)
display(iris.head())

In [ ]:
iris.plot(x='sepal_length', y='sepal_width')
plt.show()

### Scatter plot

In [ ]:
iris.plot(x='sepal_length', y='sepal_width', kind='scatter')
plt.xlabel('sepal length (cm)')
plt.ylabel('sepal width (cm)')
plt.show()

### Box plot

In [ ]:
iris.plot(y='sepal_length', kind='box')
plt.ylabel('sepal width (cm)')
plt.show()

### Histogram

In [ ]:
iris.plot(y='sepal_length', kind='hist')
plt.xlabel('sepal length (cm)')
plt.show()

In [ ]:
iris.plot(y='sepal_length', kind='hist', bins=30, range=(4,8), density=True)
plt.xlabel('Sepal length (callablem)')
plt.show()

### Cumulative distribution function (CDF)

In [ ]:
iris.plot(y='sepal_length', kind='hist', bins=30, range=(4,8), density=True, cumulative=True, legend=False)
plt.xlabel('Sepal length (cm)')
plt.title('Cumulative distribution function (CDF)')
plt.show()

__Three different DataFrame plot idioms__

- iris.plot(kind='hist')
- iris.plt.hist()
- iris.hist()

In [ ]:
df['CountryCode'].unique()

In [ ]:
# Filtering by species
df['CountryCode'].unique().shape
uzb = df['CountryCode'] == 'UZB'
rus = df['CountryCode'] == 'RUS'
nor = df['CountryCode'] =='NOR'
swe = df['CountryCode'] =='SWE'
den = df['CountryCode'] =='DNK'
can = df['CountryCode'] =='CAN'
pol = df['CountryCode'] == 'POL'
aus = df['CountryCode'] == 'AUS'
nzl = df['CountryCode'] == 'NZL'
aut = df['CountryCode'] == 'AUT'
ger = df['CountryCode'] == 'DEU'
fin = df['CountryCode'] == 'FIN'
swt = df['CountryCode'] == 'CHE'
bel = df['CountryCode'] == 'BEL'
uzbekistan = df.loc[uzb, :]
russia = df.loc[rus, :]
norway = df.loc[nor, :]
sweden = df.loc[swe, :]
denmark =df.loc[den, :]
canada = df.loc[can, :]
poland = df.loc[pol, :]
australia = df.loc[aus, :]
new_zealand = df.loc[nzl, :]
austria = df.loc[aut, :]
germany = df.loc[ger, :]
finland = df.loc[fin, :]
switzerland = df.loc[swt, :]
belgium = df.loc[bel, :]
display(uzbekistan.head())
display(russia.head())

In [ ]:
uzbekistan.plot(y = 'Total Population', x = 'Year')

In [ ]:
russia.loc[rus,:].head()

In [ ]:
russia.plot(x = 'Year', y = 'Total Population')

In [ ]:
norway.plot(x = 'Year', y = 'Total Population')

In [ ]:
sweden.plot(x = 'Year', y = 'Total Population')

In [ ]:
denmark.plot(x = 'Year', y = 'Total Population')

In [ ]:
canada.plot(x = 'Year', y = 'Total Population')

In [ ]:
poland.plot(x = 'Year', y = 'Total Population', xlim = 1960)

In [ ]:
australia.plot(x = 'Year', y = 'Total Population', title = 'Austalia')

In [ ]:
new_zealand.plot(x = 'Year', y = 'Total Population')

In [ ]:
austria.plot(x = 'Year', y = 'Total Population')

In [ ]:
germany.plot(x = 'Year', y = 'Total Population')

In [ ]:
finland.plot(x = 'Year', y = 'Total Population')

In [ ]:
switzerland.plot(x = 'Year', y = 'Total Population')

In [ ]:
belgium.plot(x = 'Year', y = 'Total Population')

## pandas scatter plots

In [ ]:
auto = pd.read_csv('auto-mpg.csv')
auto.head()

### Normalizing data

In [ ]:
sizes = auto['weight']
max_size = sizes.max()
weight = sizes/max_size
weight.head()

### Plotting a scatter

In [ ]:
auto.plot(kind='scatter', x='hp', y='mpg', s=weight*50)

## pandas box plots

In [ ]:
cols = ['weight', 'mpg']
auto[cols].plot(kind='box', subplots = True)
plt.show()

## pandas hist, pdf and cdf

Pandas relies on the .hist() method to not only generate histograms, but also plots of __probability density functions (PDFs) and cumulative density functions (CDFs)__.

In [ ]:
tips = pd.read_csv('tips.csv')
tips.head()

In [ ]:
# This formats the plots such that they appear on separate rows
fig, axes = plt.subplots(nrows=2, ncols=1)

#PDF - probability density functions
tips.fraction.plot(ax=axes[0], kind='hist', bins=30, density=True, range=(0,.3))

#CDF - cumulative density functions
tips.fraction.plot(ax=axes[1], kind='hist', bins=30, density=True, cumulative=True, range=(0,.3))
plt.show()

## Statistical exploratory data analysis

In [ ]:
iris.describe()

### Counts

In [ ]:
iris['sepal_length'].count() #Applied to Series

In [ ]:
iris['sepal_width'].count() #Applied to Series

In [ ]:
iris[['sepal_length', 'sepal_width']].count() #Applied to DataFrame

In [ ]:
type(iris[['sepal_length', 'sepal_width']].count()) #returns Series

### Averages

In [ ]:
iris['sepal_length'].mean() #Applied to Series

In [ ]:
iris.mean()  #Applied to entire DataFrame

### Standart deviations

In [ ]:
iris.std()

### Medians

In [ ]:
iris.median()

### Medians & 0.5 quantiles

In [ ]:
# Median = 0.5 quantiles
q = 0.5  
iris.quantile(q)

In [ ]:
q75 = 0.75  
iris.quantile(q75)

In [ ]:
q25 = 0.25 
iris.quantile(q25)

In [ ]:
iris.quantile() #default = 0.5 - median

In [ ]:
type(iris.quantile())

### Inter-quartile range (IQR)

In [ ]:
q_both = [0.25, 0.75]
iris.quantile(q_both)

In [ ]:
type(iris.quantile(q_both))

### Ranges

In [ ]:
iris.min()

In [ ]:
iris.max()

### Box plots

In [ ]:
iris.plot(kind='box')
plt.ylabel('cm')
plt.show()

## Bachelor's degrees awarded to women

In [ ]:
degree = pd.read_csv('percent-bachelors-degrees-women-usa.csv')
degree.head()

In [ ]:
degree['Engineering'].min()

In [ ]:
degree['Engineering'].max()

### Mean across all columns per row

In [ ]:
# use the .mean() method with the keyword argument axis='columns'. This computes the mean across all columns per row.
mean = degree.mean(axis = 'columns')
mean.plot()
plt.show()

## Median vs mean

In [ ]:
titanic = pd.read_csv('titanic.csv', delimiter = ',')
titanic.head(2)

In [ ]:
titanic.shape

In [ ]:
titanic.columns

In [ ]:
titanic.describe()

In [ ]:
titanic.fare.describe()

In [ ]:
titanic.fare.plot(kind = 'box')

## Quantiles

In [ ]:
life = pd.read_csv('life_expectancy_at_birth.csv')
life.head()

In [ ]:
life['2015'].count()

In [ ]:
life.quantile([0.05, 0.95])

In [ ]:
years = ['1800', '1850', '1900', '1950', '2000']
life[years].plot(kind = 'box')

## Standard deviation of life expectancy

In [ ]:
life['1800'].std()

In [ ]:
life['1900'].std()

In [ ]:
life['2000'].std()

## Separating populations

### Describe species column

In [ ]:
iris.head()

In [ ]:
iris['species'].describe()

### Unique & factors

In [ ]:
iris['species'].unique()

### Filtering by species

In [ ]:
indices = iris['species'] == 'Iris-setosa'
setosa = iris.loc[indices, :] #extract new DataFrame
setosa.head()

In [ ]:
indices = iris['species'] == 'Iris-versicolor'
versicolor = iris.loc[indices, :]
versicolor.head()

In [ ]:
indices = iris['species'] == 'Iris-virginica'
virginica = iris.loc[indices, :]
virginica.head()

### Checking species

In [ ]:
setosa['species'].unique()

In [ ]:
virginica['species'].unique()

In [ ]:
versicolor['species'].unique()

In [ ]:
#deleting a column
del setosa['species'], virginica['species'], versicolor['species']

In [ ]:
setosa.head(2)

In [ ]:
virginica.head(2)

In [ ]:
versicolor.head(2)

### Visual EDA

In [ ]:
iris.plot(kind='hist', bins=50, range=(0,8), alpha=0.3)
plt.title('Entire iris data set')
plt.xlabel('[cm]')
plt.show()

In [ ]:
setosa.plot(kind='hist', bins=50, range=(0,8), alpha=0.3)
plt.title('Setosa data set')
plt.xlabel('[cm]')
plt.show()

In [ ]:
versicolor.plot(kind='hist', bins=50, range=(0,8), alpha=0.3)
plt.title('Versicolor data set')
plt.xlabel('[cm]')
plt.show()

In [ ]:
virginica.plot(kind='hist', bins=50, range=(0,8), alpha=0.3)
plt.title('Virginica data set')
plt.xlabel('[cm]')
plt.show()

### Statistical EDA: describe()

In [ ]:
describe_all = iris.describe()
describe_all

In [ ]:
describe_setosa = setosa.describe()
describe_versicolor = versicolor.describe()
describe_virginica = virginica.describe()

### Computing errors

In [ ]:
errors_setosa = 100 * np.abs(describe_setosa - describe_all)
errors_setosa = errors_setosa/describe_setosa
errors_setosa

In [ ]:
errors_versicolor = 100 * np.abs(describe_versicolor - describe_all)
errors_versicolor = errors_versicolor/describe_versicolor
errors_versicolor

In [ ]:
errors_virginica = 100 * np.abs(describe_virginica - describe_all)
errors_virginica = errors_virginica/describe_virginica 
errors_virginica

In [ ]:
mpg = pd.read_csv('mpg.csv')
del mpg['Unnamed: 0'] 
mpg.head()

In [ ]:
mpg.shape

# __Time series in pandas__

_In this chapter, you will learn how to manipulate and visualize time series data using pandas. You will become familiar with concepts such as upsampling, downsampling, and interpolation. You will practice using method chaining to efficiently filter your data and perform time series analyses. From stock prices to flight timings, time series data can be found in a wide variety of domains, and being able to effectively work with it is an invaluable skill._

Using pandas to read **datetime objects**

 - read_csv() function  
 - Can read strings into datetime objects  
 - Need to  specify â€˜`parse_dates=True`â€™   
 - ISO 8601 format   
 - `yyyy-mm-dd hh:mm:ss`

## Product sales CSV

In [ ]:
sales = pd.read_csv('sales-feb-2015.csv', parse_dates=True, index_col='Date')
sales.head()

In [ ]:
sales.info()

### Selecting single datetime

In [ ]:
sales.loc['2015-02-25 00:29:00', 'Company']

### Partial datetime string selection

**Alternative formats:** 
- `sales.loc[â€˜February 5, 2015â€™]`  
- `sales.loc[â€˜2015-Feb-5â€™]`  
- Whole month:   `sales.loc[â€˜2015-2â€™]`  
- Whole year: `sales.loc[â€˜2015â€™]`

In [ ]:
sales.loc['2015-02-02 ']

In [ ]:
sales.loc['2015-2'].head()

In [ ]:
sales.loc['2015'].head()

In [ ]:
sales.loc['2015-02-09':'2015-02-11']

### Convert strings to datetime

In [ ]:
evening_2_11 = pd.to_datetime(['2015-2-11 20:03:08','2015-2-11 21:00', 
                               '2015-2-11 22:00', '2015-2-11 23:00'])
evening_2_11

### Reindexing DataFrame

In [ ]:
sales.reindex(evening_2_11)

### Filling missing values

In [ ]:
sales_sorted = sales.sort_index()

In [ ]:
sales_sorted.reindex(evening_2_11, method = 'ffill')

In [ ]:
sales_sorted.reindex(evening_2_11, method = 'bfill')

## Exercise

### Reading and slicing times

In [ ]:
austin = pd.read_csv('weather_data_austin_2010.csv')
austin.head(3)

In [ ]:
austin.info()

In [ ]:
austin2 = pd.read_csv('weather_data_austin_2010.csv', parse_dates=['Date'])
austin2.head(3)

In [ ]:
austin2.info()

In [ ]:
austin3 = pd.read_csv('weather_data_austin_2010.csv', parse_dates=True, 
                      index_col='Date')
austin3.head(3)

In [ ]:
austin3.info()

In [ ]:
austin3['2010-01-01'].head(2)

## Resampling time series data

In [ ]:
fb_sales = pd.read_csv('sales-feb-2015.csv', parse_dates=True, 
                       index_col='Date')
fb_sales.head()

### Resampling

 - Statistical methods over diï¬€erent time intervals
	 - `mean(), sum(), count(),` etc.
 - Down-sampling
 	 - reduce datetime rows to slower frequency  
 - Up-sampling  
 	 - increase datetime rows to faster frequency

### Aggregating means

In [ ]:
daily_mean = fb_sales.resample('D').mean()
daily_mean.head()

In [ ]:
weekly_mean = fb_sales.resample('W').mean()
weekly_mean

In [ ]:
two_weeks_mean = fb_sales.resample('2w').mean()
two_weeks_mean

In [ ]:
month_mean = fb_sales.resample('m').mean()
month_mean

### Verifying

In [ ]:
daily_mean.loc['2015-02-05']

In [ ]:
fb_sales.loc['2015-02-05', 'Units']

### Method chaining

In [ ]:
daily_sum = fb_sales.resample('d').sum()
daily_sum.head()

In [ ]:
weekly_sum = fb_sales.resample('w').sum()
weekly_sum

In [ ]:
two_weeks_sum = fb_sales.resample('2w').sum()
two_weeks_sum

In [ ]:
month_sum = fb_sales.resample('m').sum()
month_sum

In [ ]:
fb_sales.resample('d').sum().max()

### Resampling strings

In [ ]:
weeky_count = fb_sales.resample('w').count() 
weeky_count

### Resampling frequencies

| **Input** | **Description** |
|--|--|
|  'min', 'T | minute  |
| 'H'  | hour |
| 'D'  | day |
| 'B'  | business day |
| 'W'    | week |
|  'M' | month |
 | 'Q'  | quarter |
  | 'A'  | year |

### Multiplying frequencies

In [ ]:
fb_sales.loc[:, 'Units'].resample('2w').sum()

### Upsampling

In [ ]:
two_days = fb_sales.loc['2015-2-4':'2015-2-5', 'Units']
two_days.sort_index()

### Upsampling and filling

In [ ]:
two_days.resample('4h').ffill()

## Manipulating time series data

### Sales data

In [ ]:
# ['Date'] Ð½Ðµ Ð´ÐµÐ»Ð°ÐµÑ‚ Ð´Ð°Ñ‚Ñƒ Ð¸Ð½Ð´ÐµÐºÑÐ¾Ð¼, Ð½Ð¾ Ð¿Ñ€ÐµÐ²Ñ€Ð°Ñ‰Ð°ÐµÑ‚ ÑÑ‚Ð¾Ð»Ð±ÐµÑ† Ð² Ñ„Ð¾Ñ€Ð¼Ð°Ñ‚ datetime64
pro_sales = pd.read_csv('sales-feb-2015.csv', parse_dates=['Date'])
pro_sales.head()

In [ ]:
pro_sales.info()

### String methods

#### Capitalize

In [ ]:
pro_sales['Company'].str.upper().head()

In [ ]:
pro_sales['Company'].str.capitalize().head()

#### Lowercase

In [ ]:
pro_sales['Company'].str.lower().head()

#### Find a pattern

In [ ]:
ware = pro_sales['Product'].str.endswith('Software')
pro_sales[ware]

In [ ]:
ore = pro_sales['Company'].str.endswith('ore')
pro_sales[ore]

In [ ]:
ser = pro_sales['Product'].str.contains('Ser*', regex = True)
pro_sales[ser]

In [ ]:
ini = pro_sales['Company'].str.contains('Hoo|tech', regex = True)
pro_sales[ini]

#### Substring matching

In [ ]:
ini_count = pro_sales['Company'].str.count('ini|tech').sum()
ini_count

In [ ]:
software = pro_sales['Product'].str.count('Software').sum()
software

In [ ]:
service = pro_sales['Product'].str.count('Service').sum()
service

In [ ]:
hardware = pro_sales['Product'].str.count('Hardware').sum()
hardware

### Boolean arithmetic

In [ ]:
True + False

In [ ]:
False + False

In [ ]:
True + True

In [ ]:
True * True

In [ ]:
True - True

In [ ]:
2 * True + 15 * True

### Datetimelike properties

#### Choose a certain time

In [ ]:
pro_sales['Date'].dt.hour.sort_values().head()

In [ ]:
pro_sales['Date'].dt.minute.sort_values().head(3)

In [ ]:
pro_sales['Date'].dt.week.head()

In [ ]:
pro_sales['Date'].dt.date.head()

In [ ]:
pro_sales['Date'].dt.days_in_month.head()

In [ ]:
pro_sales['Date'].dt.weekofyear.sort_values().head()

In [ ]:
pro_sales['Date'].dt.quarter.head(2)

#### Set timezone

In [ ]:
central = pro_sales['Date'].dt.tz_localize('US/Central')
central.head(3)

#### Convert timezone

In [ ]:
central.dt.tz_convert('US/Eastern').head(3)

#### Method chaining

In [ ]:
pro_sales['Date'].dt.tz_localize('US/Central').dt.tz_convert('US/Eastern').head(3)

### World population

In [ ]:
population = pd.read_csv('world_population.csv', parse_dates=True, index_col='Year')
population

#### Upsample population

In [ ]:
population.resample('A').last().head()

In [ ]:
population.resample('A').first().head()

#### Interpolate missing data

In [ ]:
population.resample('A').first().interpolate('linear').head()

# __Case Study - Sunlight in Austin__