<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Attributes-and-underlying-data" data-toc-modified-id="Attributes-and-underlying-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Attributes and underlying data</a></span><ul class="toc-item"><li><span><a href="#pandas.DataFrame.insert" data-toc-modified-id="pandas.DataFrame.insert-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>pandas.DataFrame.insert</a></span></li><li><span><a href="#pandas.DataFrame.drop" data-toc-modified-id="pandas.DataFrame.drop-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>pandas.DataFrame.drop</a></span></li><li><span><a href="#pandas.DataFrame.at" data-toc-modified-id="pandas.DataFrame.at-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>pandas.DataFrame.at</a></span></li><li><span><a href="#pandas.DataFrame.iat" data-toc-modified-id="pandas.DataFrame.iat-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>pandas.DataFrame.iat</a></span></li><li><span><a href="#pandas.DataFrame.iloc" data-toc-modified-id="pandas.DataFrame.iloc-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>pandas.DataFrame.iloc</a></span></li><li><span><a href="#pandas.DataFrame.loc" data-toc-modified-id="pandas.DataFrame.loc-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>pandas.DataFrame.loc</a></span></li></ul></li><li><span><a href="#Conversion" data-toc-modified-id="Conversion-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Conversion</a></span></li><li><span><a href="#Indexing,-iteration" data-toc-modified-id="Indexing,-iteration-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Indexing, iteration</a></span></li><li><span><a href="#Binary-operator-functions" data-toc-modified-id="Binary-operator-functions-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Binary operator functions</a></span></li><li><span><a href="#Function-application,-GroupBy-&amp;-window" data-toc-modified-id="Function-application,-GroupBy-&amp;-window-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Function application, GroupBy &amp; window</a></span></li><li><span><a href="#Computations-/-descriptive-stats" data-toc-modified-id="Computations-/-descriptive-stats-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Computations / descriptive stats</a></span></li><li><span><a href="#Reindexing-/-selection-/-label-manipulation" data-toc-modified-id="Reindexing-/-selection-/-label-manipulation-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Reindexing / selection / label manipulation</a></span></li><li><span><a href="#Missing-data-handling" data-toc-modified-id="Missing-data-handling-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Missing data handling</a></span></li><li><span><a href="#Reshaping,-sorting,-transposing" data-toc-modified-id="Reshaping,-sorting,-transposing-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Reshaping, sorting, transposing</a></span></li><li><span><a href="#Combining-/-joining-/-merging" data-toc-modified-id="Combining-/-joining-/-merging-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Combining / joining / merging</a></span></li><li><span><a href="#Time-series-related" data-toc-modified-id="Time-series-related-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Time series-related</a></span></li><li><span><a href="#Metadata" data-toc-modified-id="Metadata-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Metadata</a></span></li><li><span><a href="#Plotting" data-toc-modified-id="Plotting-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Plotting</a></span></li><li><span><a href="#Sparse-accessor" data-toc-modified-id="Sparse-accessor-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Sparse accessor</a></span></li><li><span><a href="#Serialization-/-IO-/-conversion" data-toc-modified-id="Serialization-/-IO-/-conversion-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Serialization / IO / conversion</a></span></li></ul></div>

# Attributes and underlying data

__Series__ - 1D labelled Numpy array. The columns of a DataFrame are themselves a specialized Pandas structure. Extracting a single column from a DataFrame returns a Series. To extract the numerical entries from the Series use the values attrubute. The data in the Series actually form a NumPy array which is what the values attruibute yields.   one-dimensional Data in series 

__DataFrame__ - 2-dimensional labelled array whose columns are Series.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

In [2]:
pattern = '*.csv'
search = glob.glob(pattern)
search

['aapl.csv',
 'austin_airport_departure_data_2015_july.csv',
 'auto-mpg.csv',
 'EISN_current.csv',
 'iris.csv',
 'life_expectancy_at_birth.csv',
 'mpg.csv',
 'percent-bachelors-degrees-women-usa.csv',
 'sales-feb-2015.csv',
 'sales-jan-2015.csv',
 'sales-mar-2015.csv',
 'sunspots.csv',
 'tips.csv',
 'titanic.csv',
 'total_sunspot_numbers.csv',
 'weather_data_austin_2010.csv',
 'world_ind_pop_data.csv',
 'world_population.csv']

In [3]:
pop = pd.read_csv(search[-2])
display(pop.head())
display(pop.shape)

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

(13374, 5)

## pandas.DataFrame.insert

__pandas.DataFrame.insert__( _self, loc, column, value, allow_duplicates=False_ ) â†’ None

__loc__: _int_ | Insertion index. Must verify 0 <= loc <= len(columns).

__column__: _str, number, or hashable object_ | Label of the inserted column.

__value__: _int, Series, or array-like_ | allow_duplicatesbool, optional

In [4]:
# Add a new column in position loc with value (value) and a column name (column)
# If allow_duplicates is True then after each running the cell the duplicated column will appear
# If allow_duplicates is False then after repeating running the error will exist:
# ...The columns 'Rural_population' is already exist

rural_pop = 100 - pop['Urban population (% of total)']
pop.insert(loc = 5, column = 'Rural_population' , value = rural_pop, allow_duplicates = False)
display(pop.head())
display(type(pop))

,CountryName,CountryCode,Year,Total Population,Urban population (% of total),Rural_population
0,Arab World,ARB,1960,9.249590e+07,31.285384,68.714616
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490,68.402510
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921,55.492079
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132,77.528868
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679,83.082321

pandas.core.frame.DataFrame

## pandas.DataFrame.drop

In [5]:
pop = pop.drop(labels = 'Rural_population', axis = 1)
pop.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

## pandas.DataFrame.at

In [6]:
pop_copy = pop
pop_copy.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

In [7]:
# Get value at specified row/column pair
pop_copy.at[1, 'CountryCode']

'CSS'

In [8]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],
                  index=[4, 5, 6], columns=['A', 'B', 'C'])
df

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30

In [9]:
df.at[4,'A']

0

In [10]:
# Set value at specified row/column pair
df.at[5, 'A'] = 11
df

    A   B   C
4   0   2   3
5  11   4   1
6  10  20  30

## pandas.DataFrame.iat

In [11]:
df

    A   B   C
4   0   2   3
5  11   4   1
6  10  20  30

In [12]:
# Get value at specified row/column pair
# Integer position starts from 0 as in rows and in columns
df.iat[1,1]

4

In [13]:
# Set value at specified row/column pair
df.iat[1,2] = 3
df

    A   B   C
4   0   2   3
5  11   4   3
6  10  20  30

## pandas.DataFrame.iloc

In [14]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
dict = pd.DataFrame(mydict)
dict

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [15]:
# With a scalar integer - Series
display(dict.iloc[1])
display(type(dict.iloc[1]))

a    100
b    200
c    300
d    400
Name: 1, dtype: int64

pandas.core.series.Series

In [16]:
# With a list of integers - DataFrame
display(dict.iloc[[1]])
display(type(dict.iloc[[1]]))

     a    b    c    d
1  100  200  300  400

pandas.core.frame.DataFrame

In [17]:
dict.iloc[:0]

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [18]:
dict.iloc[0:]

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [19]:
dict.iloc[1,2]

300

In [20]:
dict.iloc[:]

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [21]:
display(dict.iloc[1, :])
display(type(dict.iloc[1, :]))

a    100
b    200
c    300
d    400
Name: 1, dtype: int64

pandas.core.series.Series

In [22]:
dict.iloc[0:,0]

0       1
1     100
2    1000
Name: a, dtype: int64

In [23]:
dict.iloc[:,-1]

0       4
1     400
2    4000
Name: d, dtype: int64

In [24]:
dict.iloc[0:2, 1:3]

     b    c
0    2    3
1  200  300

In [25]:
# With a boolean mask the same length as the index
df.iloc[:1, [True,False,True]]

   A  C
4  0  3

In [26]:
dict.iloc[lambda x: x.index%3 == 0]

   a  b  c  d
0  1  2  3  4

## pandas.DataFrame.loc

In [27]:
cobra = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
cobra

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [28]:
cobra.loc[['cobra','viper'], 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [29]:
# List of labels. Note using [[]] returns a DataFrame.
display(type(cobra.loc[['viper']]))
display(cobra.loc[['viper']])

pandas.core.frame.DataFrame

       max_speed  shield
viper          4       5

In [30]:
# Single label. Note this returns the row as a Series.
display(type(cobra.loc['viper']))
display(cobra.loc['viper'])

pandas.core.series.Series

max_speed    4
shield       5
Name: viper, dtype: int64

In [31]:
cobra.loc['viper', 'shield']

5

In [32]:
# Slice with labels for row and single label for column. As mentioned above, note that both the start and stop of the slice are included.
cobra.loc['viper':'sidewinder', 'max_speed']

viper         4
sidewinder    7
Name: max_speed, dtype: int64

In [33]:
cobra.loc[[False,True]]

IndexError: Item wrong length 2 instead of 3.

In [ ]:
# First - Boolean list with the same length as the row axis
# Second -Boolean list with the same length as the column axis  
cobra.loc[[False,True,False],[True,False]]

In [ ]:
# Conditional that returns a boolean Series
cobra.loc[cobra['max_speed']>3]

In [ ]:
cobra.loc[cobra['shield']==2, ['max_speed']]

In [ ]:
cobra.loc[cobra['max_speed'] >= 6] = 0
cobra

___

# Conversion

# Indexing, iteration

# Binary operator functions

# Function application, GroupBy & window

# Computations / descriptive stats

# Reindexing / selection / label manipulation

# Missing data handling

# Reshaping, sorting, transposing

# Combining / joining / merging

# Time series-related

# Metadata

# Plotting

# Sparse accessor

# Serialization / IO / conversion